@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-VariableFont.woff2') format('woff2-variations');
	src: url('../fonts/NunitoSans-VariableFont.woff2') format('woff2')
		tech('variations');
	font-weight: 300 700;
}
@font-face {
	font-family: 'WorkSans-Light';
	src: url('../fonts/WorkSans-Light.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'WorkSans-Regular';
	src: url('../fonts/WorkSans-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'WorkSans-Medium';
	src: url('../fonts/WorkSans-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'WorkSans-SemiBold';
	src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #0e0d0d;
	line-height: 1.35;
	background-color: #fdfdf0;
}
button {
	background-color: transparent;
	border: none;
}
.container {
	max-width: 1440px;
	/* +20 бо border-box */
	padding: 0 50px;
	margin: 0 auto;
}
.container-big {
	max-width: 1840px;
	padding: 0 10px;
	margin: 0 auto;
}
.header__inner {
	font-weight: 500;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu--list {
	display: flex;
	gap: 0 30px;
}
.menu__link {
	text-transform: uppercase;
}
.header__contacts {
	text-transform: uppercase;
	padding: 10px 40px;
	display: inline-block;
	background-color: #0e0d0d;
	color: #fff;
	border-radius: 50px;
}
/* about */
.about {
	margin-bottom: 180px;
}
.about__top {
	text-align: center;
	color: #fdfdf0;
	background-image: url('../images/about/about-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-transform: uppercase;
	min-height: 748px;
	border-radius: 20px;
	/* png чогось не робе */
}
.about__title {
	padding-top: 85px;
	font-family: 'WorkSans-SemiBold', sans-serif;
	font-size: 250px;
	line-height: 0.9;
	font-weight: 600;
}
.about__text {
	font-family: 'WorkSans-Medium', sans-serif;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.2;
}
.about__achievements {
	margin-top: -55px;
	margin-bottom: 90px;
	display: flex;
	justify-content: space-between;
}
.about__achievement {
	max-width: 580px;
	background-color: #f4f4e7;
	border-radius: 20px;
	padding: 14px 10px;
	gap: 0 25px;
	display: flex;
}
.about__achievements-img {
	display: block;
	max-width: 100%;
	height: auto;
}
.img__wrapper {
	position: relative;
	min-width: 214px;
}
.about__arrow {
	width: 30px;
	aspect-ratio: 1;
}

.highlight {
	color: #f2a531;
}
.about__achievement-title {
	font-weight: 500;
	margin-bottom: 20px;
}
.about__achievement-text {
	font-size: 14px;
	font-weight: 300;
}
.about__achievements-btn {
	position: absolute;
	right: -5px;
	top: 5px;
}
.about__statistic {
	background-color: #f4f4e7;
	border-radius: 20px;
	padding: 30px 20px;
	margin-bottom: 70px;
}
.stats {
	display: flex;
	justify-content: space-between;
	gap: 0 90px;
}
.stats__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.stats__value {
	font-family: 'WorkSans-SemiBold', sans-serif;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 15px;
}
.stats__desc {
	max-width: 220px;
	font-size: 22px;
	opacity: 0.7;
}
.about__progres--text {
	font-family: 'WorkSans-Light', sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
	font-weight: 300;
}
.progress--text {
	margin-bottom: 45px;
	padding-right: 50px;
	line-height: 1.5;
	padding-top: 5px;
}
.progres--blog {
	display: flex;
	justify-content: space-between;
	gap: 0 140px;
}
.progres--highlight {
	font-family: 'WorkSans-Medium', sans-serif;
	color: rgba(14, 13, 13, 0.84);
	font-weight: 500;
	margin-bottom: 40px;
}
.text--bold {
	font-family: 'Nunito Sans';
	font-weight: 700;
}
.about__progress {
	font-size: 18px;
	max-width: 860px;
}
.about__progres--table {
	border-top: 1px solid rgba(14, 13, 13, 0.23);
}
.progres--table__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 10px;
	border-bottom: 1px solid rgba(14, 13, 13, 0.23);
}
.progres--table__item + .progres--table__item {
	padding-top: 20px;
}
.progres--table__item dd {
	opacity: 0.7;
}
/* products - section */
.products__wrapper {
	background-color: #f4f4e7;
	border-radius: 20px;
	padding-block: 50px;
}
.products__title {
	font-family: 'WorkSans-Regular', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
}
.button {
	color: #fff;
	max-width: 242px;
	text-transform: uppercase;
	background-color: #000;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 96px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button span {
	flex: 1;
	text-align: center;
}
.products__link {
	/* display: block; */
	margin: 0 auto;
}
.products__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 16px;
	margin-bottom: 50px;
}
.product__item {
	font-family: 'WorkSans-Regular';
	font-size: 32px;
	border-radius: 10px;
	min-height: 300px;
	margin-bottom: 12px;
	padding: 50px 24px;
	position: relative;
	background-repeat: no-repeat;

	background-size: cover;
	background-position: center;
}
.product__item--text {
	font-family: 'Nunito Sans';
	font-weight: 300;
	font-size: 16px;
}
.product__item--btn {
	position: absolute;
	bottom: -6px;
	left: -10px;
}
.product__item:nth-child(1) {
	background-image: url('../images/products_section/Cerial.jpg');
}
.product__item:nth-child(2) {
	background-image: url('../images/products_section/Oilseeds.jpg');
}
.product__item:nth-child(3) {
	background-image: url('../images/products_section/Dairyproducts.jpg');
}
.product__item:nth-child(4) {
	background-image: url('../images/products_section/Bakery.jpg');
}
.product__item:nth-child(5) {
	background-image: url('../images/products_section/Poultry.jpg');
}
.product__item:nth-child(6) {
	background-image: url('../images/products_section/Vegetables.jpg');
}
/* agroton */

.agroton {
	/* overflow: hidden; */
	/* max-height: 1000px; */
	margin-bottom: 130px;
}
.agroton__credo {
	padding-top: 115px;
	font-family: 'WorkSans-Medium';
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
.agroton__title {
	text-align: center;
	color: #f2a531;
	font-family: 'WorkSans-SemiBold';
	font-size: 200px;
	text-transform: uppercase;
}
.agroton__wrapper {
	/* position: relative; */
}
.agroton--img {
	/* position: absolute; */
	margin-top: -140px;

	/* bottom: -155px; */
}
.product__item:nth-child(odd) .product__item--title {
	color: #fff;
}

/* supplies */
.supplies {
	margin-bottom: 150px;
}
.supplies__inner {
	display: flex;
	justify-content: space-between;
	gap: 0 100px;
}
.supplies__title {
	font-family: 'WorkSans-Regular';
	font-size: 40px;
	font-weight: 400;
}
.supplies__info {
	max-width: 580px;
	display: flex;
	flex-direction: column;
}
.supplies__text {
	margin-top: auto;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 20px;
}
.supplies__box--top {
	background-color: #f4f4e7;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	gap: 0 19px;
	margin-bottom: 15px;
	position: relative;
	/* align-items: end; */
}
.supplies__box--top::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 20px;
	background-image: url('../images/supplies/agroton_logo.svg');
	width: 63px;
	height: 56px;
}
.supplies__box--list {
	margin-top: auto;
	padding-bottom: 30px;
	padding-left: 24px;
}
.supplies__box--item + .supplies__box--item {
	margin-top: 15px;
}
.supplies__box--item {
	font-size: 16px;
	font-weight: 500;
	padding-left: 39px;
	position: relative;
}
.supplies__box--item::before {
	content: '';
	position: absolute;
	left: 0;
	background-image: url('../images/supplies/arrow.svg');
	width: 24px;
	height: 24px;
	/* центруваня стрілок */
	top: 50%;
	transform: translateY(-50%);
}
.supplies__box--text {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 30px 80px 30px 30px;
	background-color: #0d1615;
	border-radius: 10px;
}

/* blog */

.blog {
	margin-bottom: 80px;
}
.blog__wrapper {
	background-color: #f4f4e7;
	border-radius: 20px;
	padding: 100px 40px;
}
.blog__title {
	font-family: 'WorkSans-Medium';
	font-weight: 500;
	font-size: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
	text-align: center;
}
.blog__items {
	display: grid;
	grid-template-columns: 580px auto;
	/* /* grid-template-rows: 1fr 1fr; */
	grid-template-rows: auto auto;

	gap: 32px 44px;
	/* grid-auto-rows: min-content; */
}
.blog__item-big {
	grid-row: 1 / -1;
}
.blog__item-big .blog__item-img {
	margin-bottom: 32px;
}
.blog__item--info {
	color: #f2a531;
	font-size: 14px;
	font-family: 'WorkSans-SemiBold';
	font-weight: 600;
	margin-bottom: 12px;
}
.blog__item--title {
	font-family: 'WorkSans-Medium';
	color: #101828;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12px;
	display: block;
	position: relative;
	padding-right: 30px;
}
.blog__item--text {
	color: #667085;
}
.blog__item-small {
	display: flex;

	align-items: flex-start;
	gap: 0 24px;
}
.blog__item--title::after {
	content: '';
	position: absolute;
	background-image: url('../images/blog/arrow-up-right.svg');
	width: 24px;
	height: 24px;
	right: 0;
	/* вирівнюваня */
	top: 50%;
	transform: translateY(-50%);
}

/* footer */

.footer {
	background-color: #0e0d0d;
	padding: 100px 0;
	color: #fff;
}
.footer__bottom {
	border-top: 1px solid #fff;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	font-size: 14px;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-right: 115px;
}
.footer__element--title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 500;
}
.footer__item + .footer__item {
	padding-top: 15px;
}
.footer__address {
	/* прибирає наклонений текст */
	font-style: normal;
}
@media (max-width: 1330px) {
	.supplies__info {
		max-width: 500px;
	}

	.supplies__inner {
		gap: 0 50px;
	}
}

@media (max-width: 1280px) {
	.about__title {
		font-size: 140px;
	}
	.about__achievements {
		gap: 0 20px;
	}
	.progres--blog {
		gap: 0 20px;
	}
	/* agroton */
	.agroton--img {
		margin-top: -110px;
	}
	/* supplies */
	.blog__item--title {
	}
	.blog__items {
		gap: 20px;
		grid-template-columns: 380px auto;
	}
	.supplies__info {
		max-width: 350px;
	}
}
@media (max-width: 1149px) {
	.blog__wrapper {
		padding: 50px 20px;
	}
	.blog__item--title {
		font-size: 24px;
	}
}
@media (max-width: 1049px) {
	.supplies__box--top::before {
		display: none;
	}
	.supplies__box--list {
		margin-top: 20px;
	}
}
@media (max-width: 980px) {
	.about__title {
		font-size: 100px;
	}
	.about__text {
		font-size: 24px;
	}
	.container-big {
		padding: 0;
	}
	.about__top {
		border-radius: 0 0 20px 20px;
	}
	.about__achievement {
		flex-wrap: wrap;
	}
	.stats {
		gap: 20px 40px;
		justify-content: center;
	}
	.progres--table__item {
		gap: 0 20px;
	}
	/* agroton */
	.agroton__title {
		font-size: 150px;
	}
	.agroton--img {
		margin-top: -95px;
	}
	.agroton__credo {
		font-size: 22px;
	}
	.blog__items {
		grid-template-columns: 1fr;
	}
	.blog__item--title {
		max-width: 500px;
	}
	.blog__item-img {
		width: 100%;
	}
	.supplies__box--top::before {
		display: block;
	}
	.supplies__box--list {
		margin-top: auto;
	}
	.supplies__inner {
		flex-wrap: wrap;
		gap: 20px 50px;
	}
	.supplies__info {
		max-width: 100%;
	}
	.supplies__box {
		width: 100%;
	}
}
@media (max-width: 870px) {
	.container {
		padding: 5px;
	}
	.about__progres--text {
		font-size: 28px;
	}
	.progres--blog__img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		border-radius: 15px;
	}
	.progres--blog {
		flex-wrap: wrap;
	}
	.stats {
		flex-wrap: wrap;
	}
	/* products */
	.products__list {
		grid-template-columns: repeat(2, 1fr);
	}
	/* agroton */
	.agroton__title {
		font-size: 80px;
	}
	.agroton--img {
		margin-top: -54px;
	}
	.agroton__credo {
		font-size: 18px;
		padding-top: 80px;
	}
}
@media (max-width: 678px) {
	.stats__item {
		flex: 1 1 100%;
	}
	.blog__item-small {
		flex-wrap: wrap;
		gap: 20px;
	}
	.supplies__box--text {
		padding: 20px;
	}
	.supplies__box--top {
		flex-wrap: wrap-reverse;
	}
	.agroton__field {
		width: 100%;
	}
	.supplies__box--list {
		margin-top: 20px;
	}
}
@media (max-width: 510px) {
	.about__achievements {
		flex-wrap: wrap;
		gap: 20px;
	}
	.about__title {
		font-size: 64px;
	}
	.about__text {
		font-size: 18px;
	}
	.img__wrapper {
		width: 100%;
		margin-bottom: 10px;
	}
	.about__achievements-img {
		width: 100%;
	}
	.about__top {
		min-height: 440px;
	}
	.about__achievements {
		margin-bottom: 30px;
	}
	.stats__value {
		font-size: 26px;
	}
	.stats__desc {
		font-size: 16px;
	}
	.about__statistic {
		margin-bottom: 30px;
	}
	.about__progres--text {
		font-size: 22px;
	}
	.about {
		margin-bottom: 50px;
	}
	.progres--table__item {
		display: block;
	}
	.progres--table__item dd {
		margin-top: 15px;
	}
	.about__arrow {
		width: 50px;
	}
	/* products */
	.products__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.products__title {
		font-size: 24px;
	}
	.product__item {
		font-size: 24px;
	}
	/* agroton */
	.agroton__title {
		font-size: 50px;
	}
	.agroton--img {
		margin-top: -34px;
	}
	.agroton__credo {
		font-size: 16px;
		padding-top: 30px;
	}
	.supplies__title {
		font-size: 34px;
		margin-bottom: 15px;
	}
	.supplies__text {
		font-size: 16px;
	}
	.supplies {
		margin-bottom: 50px;
	}
	.blog__title {
		font-size: 30px;
	}
	.supplies__box--list {
		padding-left: 0;
	}
}

@media (max-width: ) {
}
